**/*.pem
**/*.crt
**/.env.*
**/target/
**/build/
**/.metadata
**/*.project
**/*.settings
**/*.classpath
**/*.factorypath
compose-*.yml
compose-*.yml''
keycloak/import/ycbr-realm.json
nginx-reverse-proxy/nginx.conf
db-data
.idea
.env
monitoring/prometheus/prom_data/
monitoring/prometheus/prometheus.yml