**/*.crt
**/*.jks
**/*.key
**/*.pem
**/*.p12
**/.env
**/target/
**/build/
**/.metadata
**/*.project
**/*.settings
**/*.classpath
**/*.factorypath
compose-*.yml
compose-*.yml''
build-*.sh
keycloak/import/ycbr-realm.json
nginx-reverse-proxy/nginx.conf
db-data
.idea
.env
monitoring/prometheus/prom_data/
monitoring/prometheus/prometheus.yml