**/*.pem
**/*.crt
**/.env.*
**/target/
**/build/
**/.metadata
**/*.project
**/*.settings
**/*.classpath
**/*.factorypath
compose-*.yml
compose-*.yml''
keycloak/import/baeldung-realm.json''
db-data
.idea
monitoring/prometheus/prom_data/
monitoring/prometheus/prometheus.yml