scheme: http
hostname: localhost
reverse-proxy-port: 7080
reverse-proxy-uri: ${scheme}://${hostname}:${reverse-proxy-port}
authorization-server-prefix: /auth
issuer: ${reverse-proxy-uri}${authorization-server-prefix}/realms/ycbr
username-claim-json-path: $.preferred_username
authorities-json-path: $.realm_access.roles
api-server-port: 7082
audience:

server:
  port: ${api-server-port}
  ssl:
    enabled: false

spring:
  datasource:
    username: ${POSTGRES_USER:ycbr}
    password: ${POSTGRES_PASSWORD:ycbr-secret}
    url: jdbc:postgresql://${hostname}:5432/${POSTGRES_DB:ycbr}
    hikari:
      connection-timeout: 2000
      maximum-pool-size: 30
  lifecycle:
    timeout-per-shutdown-phase: 10s
  liquibase:
    enabled: false
  sql:
    init:
      mode: always
  ssl:
    bundle:
      pem:
        api-server:
          keystore:
            certificate: 'file:/opt/certfile.pem'
            private-key: 'file:/opt/keyfile.pem'
          truststore:
            certificate: 'file:/opt/certfile.pem'
  threads:
    virtual:
      enabled: true

com:
  c4-soft:
    springaddons:
      oidc:
        ops:
        - iss: ${issuer}
          username-claim: ${username-claim-json-path}
          authorities:
          - path: ${authorities-json-path}
          aud: ${audience}
        resourceserver:
          permit-all:
          - /me
#          - /i9events/**
#          - /inspections/**
#          - /v1/api-docs/**
#          - /swagger-ui/**
          - /actuator/info
          - /actuator/health
          - /actuator/health/readiness
          - /actuator/health/liveness
          - /actuator/prometheus

management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    root: INFO
    fi.smartbass.ycbr: DEBUG
    com.c4-soft.springaddons: DEBUG
    org:
      springframework:
        boot: INFO
        jdbc:
          core: DEBUG
        security: INFO
        transaction:
          interceptor: DEBUG
        web: INFO
        
---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB:ycbr}
  main:
    banner-mode: off
---
spring:
  config:
    activate:
      on-profile: ssl
server:
  ssl:
    enabled: true
    bundle: "api-server"
  http2:
    enabled: true
scheme: https
---
spring:
  config:
    activate:
      on-profile: cognito
issuer: https://cognito-idp.us-west-2.amazonaws.com/us-west-2_RzhmgLwjl
username-claim-json-path: username
authorities-json-path: $.cognito:groups

---
spring:
  config:
    activate:
      on-profile: auth0
issuer: ${AUTH0_ISSUER}
username-claim-json-path: $['https://smartbass-ycbr/user']['name']
authorities-json-path: $['https://smartbass-ycbr/user']['roles']
audience: ${AUTH0_AUDIENCE}